node_modules
dist
build
pnpm-lock.yaml
.git
.gitignore
.env
.env.*
npm-debug.log*
*.log
coverage
.nyc_output
.DS_Store
.vscode
.idea
*.swp
*.swo
*~
README.md
.editorconfig
.eslintrc*
.prettierrc*
Dockerfile*
docker-compose*
